<footer id="footer" class="text-white py-28">
  <ul class="flex flex-wrap gap-5 justify-center">
    {% for social in page.socials %}
      <li class="bg-zinc-800 py-8 hover:bg-zinc-700 cursor-pointer px-4 w-fit h-full transform -skew-x-6 group rounded-lg flex flex-col justify-center items-center relative">
        <a href="{{social.link}}" class="flex flex-col items-center">
          <i class="{{social.icon}} text-5xl lg:text-4xl"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
</footer>

