<div class="flex gap-20 w-full justify-between h-fit items-center py-10">
  <div class="flex flex-col gap-5 lg:gap-2">
    <h1 class="text-5xl font-bold">
      Hello, I'm <span class="text-purple-500">Jeremy Soler</span>
    </h1>
    <p onclick="alert('Fullstack Developer')" class="w-full lg:w-fit text-xl lg:text-lg hover:cursor-pointer bg-zinc-950 p-2 px-3 rounded-lg font-bold">
      <span class="text-blue-500" >alert</span>(
      <span class="text-yellow-500">"Fullstack Developer"</span>);
    </p>

    <p class="max-w-[50rem] mt-5 text-xl lg:text-lg text-zinc-400">
      I'm a passionate developer with a focus on creating efficient, scalable, and user-friendly solutions. Below, you'll find more about my skills, projects, and the tools I use to bring ideas to life.
    </p>
  </div>

  <div class="relative w-[26rem] h-[10rem] hidden 2xl:block">
    <div class="absolute inset-0 bg-gradient-to-tr from-purple-600 to-purple-500 rounded-lg transform -skew-x-6 "></div>
     
    <img
      class="absolute left-[40%] top-[50%] translate-y-[-50%] translate-x-[-25%] blur-xl opacity-40 brightness-0"
      src="https://cdn3.emoji.gg/unicode/microsoft/rocket.png"
      alt="Rocket Emoji"
    />

    <img
      class="absolute left-[40%] top-[50%] translate-y-[-50%] translate-x-[-25%]"
      src="https://cdn3.emoji.gg/unicode/microsoft/rocket.png"
      alt="Rocket Emoji"
    />


  </div>
</div>

<script>
</script>
