<div id="projects" class="mt-20 flex flex-col gap-5">
  <h2 class="uppercase text-4xl font-semibold">Projects</h2>
  <ul class="grid grid-cols-1 lg:grid-cols-2 gap-5">
    {% for project in page.projects %}
    <a href="{{ project.link }}">
        <li class="-skew-x-5 bg-zinc-800 h-full rounded-lg overflow-hidden flex flex-col justify-between gap-5 hover:bg-zinc-700 transition">
          <div class="p-5 grid gap-2">
            <h3 class="text-2xl">{{ project.title }}</h3>
            <p>{{ project.description }}</p>
          </div>
          <img class="aspect-[20/9] w-full object-cover" src="https://opengraph.githubassets.com/eaf95acb7a4845b6e1b275d8e4d06d26c59443e26c788ef62cea6d9922e38a06/garder500/{{ project.link | split: '/' | last }}" alt="{{ project.title }} OpenGraph Image">
        </li>
      </a>  
    {% endfor %}
  </ul>
</div>
