<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link href="{{ '/css/main.css' | relative_url }}" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased flex flex-col min-h-screen">

    <!-- Header -->
    {% include navbar.html %}


    <!-- Main Content -->
    <div class="min-h-screen bg-gray-950 text-gray-100 font-mono antialiased">
        <main class="max-w-7xl mx-auto py-8">
          <header class="mb-12 border-b-2 border-purple-600 pb-6">
            <h1 class="text-4xl font-bold text-purple-400 hover:text-purple-300 transition-colors ml-10">
              {{ page.title | default: "Dev Blog" }}
            </h1>
            {% if page.description %}
            <p class="mt-4 text-gray-400">{{ page.description }}</p>
            {% endif %}
          </header>

          <article class="prose prose-invert max-w-none">
            <div class="p-6 bg-gray-900 rounded-lg shadow-xl border border-gray-800">
              {{ content }}
            </div>
          </article>
        </main>
      </div>

    <!-- Footer -->
    {% include footer.html %}
</body>
</html>
