<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link href="{{ '/css/main.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/css/highlight.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/css/markdown.css' | relative_url }}" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5306738597992925"
     crossorigin="anonymous"></script>
    <script async src="https://fundingchoicesmessages.google.com/i/pub-5306738597992925?ers=1"></script><script>(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>
</head>
<body class="bg-gray-900 text-purple-100 font-sans antialiased flex flex-col min-h-screen">

    <!-- Header -->
    {% include navbar.html %}

    <!-- Main Content -->
    <main class="container mx-auto px-6 py-8 flex-grow">
        <h1 class="text-3xl font-bold text-purple-300 mb-4">{{ page.title | default: "Welcome to my blog" }}</h1>
        <p class="text-purple-200 leading-relaxed mb-6">
            {% if page.description %}
              {{ page.description }}
            {% endif %}
        </p>
        <div class="markdown-body bg-gray-800 p-6 rounded-lg shadow-md">
            {{ content }}
        </div>
    </main>

    <!-- Footer -->
    {% include footer.html %}

</body>
</html>
